<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aditya Dance Academy</title>
     style
      include ../static/style.css
    <body>
    <nav id="navbar">
    <ul>
    <div id="logo">
    <img src="/static/img/logo.png">
    | DDA 
    </div>
    <li ><a href="/">Home</a></li> 

    <li ><a href="/">About</a></li> 
    <li ><a href="/contact">Contact Us</a></li> 
    <li ><a href="/">Services</a></li> 
    <li ><a href="/">Class Info</a></li> 
    </ul></nav>
    <section id="introSection">
     <div> Welcome to Durgapur Dance Academy </div>
        <div class="small"> Break A Leg</div>
        </section>
         <h2 id="AM"> The Academy's Mission </h2>
        

          <section id="missionSection">
         

          <div class="card">
            <h3> Perfection in Dance </h3>
            <div class="card-box">
                <div class="card-img">
                img(src="/static/img/2.png")
                </div>
                <div class="card-content">
            
                    <p>This is the best dance academy in Durgapur</p>
                    </div>
                       
                    
                    
</div>
</div>
          <div class="card">
            <h3> Perfection in Dance </h3>
            <div class="card-box">
                <div class="card-img">
                img(src="/static/img/3.png")
                </div>
                <div class="card-content">
            
                    <p>This is the best dance academy in Durgapur</p>
                    </div>
                       
                    
                    
</div>
</div>
          <div class="card">
            <h3> Perfection in Dance </h3>
            <div class="card-box">
                <div class="card-img">
                img(src="/static/img/3.png")
                </div>
                <div class="card-content">
            
                    <p>This is the best dance academy in Durgapur</p>
                    </div>
                       
                    
                    
</div>
</div>

    </section>
     <h2 id="OS">Our Sponsors</h2>
    <section id="sponsorsSection">
           
      

             <div id="sponsors">    
                  img(src= "/static/img/img1.png", alt= "Sponsor Image", class= "spImage") 
             </div>
             
             <div id="sponsors">    
                img(src= "/static/img/img2.png", alt= "Sponsor Image", class= "spImage") 
             </div>
         
             <div id="sponsors">    
                img(src= "/static/img/img3.png", alt= "Sponsor Image", class= "spImage") 
             </div>
         
             <div id="sponsors">    
               img(src= "/static/img/img4.png", alt= "Sponsor Image", class= "spImage") 
             </div>
         
    
    
    
    </section>
<footer id="footer">Copyright 2023 Durgapur Dance Academy | All Rights Reserved</footer>

    </body>
    
    